
/* 
Code par Romanichou 
aout 2009 
modification :
septembre 2011
*/

body
{
  background-color : #76D5FF ;
  font-family : "Trebuchet Ms" , serif ;
  margin: 0 auto;
  width : 1000px;
}


/*----------------------------------------BANNIERE------------------------------------------------*/

#menubanniere
{
  width : 1000px;
}

/*-------------------------------------------------*/
#banniere
{
  text-align: center;
  height : 90px;
  width : 100%;
  margin-top : 5px;
  margin-left : 5px;
  margin-right : 5px;
  margin-bottom : 5px;
  border-color : #FFFFFF;
  border-width : 2px;
  padding : 1px ;
  background: url(../images/nuage.jpg) no-repeat left top;
}

.left
{
  text-align : center ;
  color : #4269DB ;
  font-size : 250% ;
  margin-top : 20px ;
  margin-left : 20px;
  margin-right : 20px;
  text-transform: capitalize;
  display : inline;
  position : relative;
  top : 20px;
  left:0px;
}

div#banniere a
{
  text-align : center ;
  color : #4269DB ;
  font-size : 110% ;
  margin-top : 20px ;
  text-transform: capitalize;
  display : inline;
  text-decoration : none ;
}


/*-------------------------------------------------*/
#menuhaut
{
  height : 50px;
  width : 100%;
  margin-top : 20px;
  margin-left : 5px;
  margin-right : 5px;
  margin-bottom : 5px;
  border-color : #FFFFFF;
  border-width : 2px;
  padding : 1px ;
  background : url(../images/menuhaut.jpg) no-repeat left top;
  text-transform: capitalize;
  padding-top : 0px;
  position : relative;
  z-index : 2;
}

#menuhaut a
{
  text-decoration : none ;
  color : #444444 ;
  font-size : 16px ;
  width : 100px ;
  text-transform: capitalize;
  margin : 50px 7px 0px 0px ;
}

#menuhaut a:hover
{
  text-decoration : underline ;
  color : black ;
  font-weight : bold ;
}

div#menuhaut ul
{
  position:relative;
  left:0;
  top:0px;
}

/*On positionne les elements du menu */
div#menuhaut ul li 
{
  position:relative;
  float : left;
}

div#menuhaut li a 
{
  text-decoration: none; /* plus de soulignement pour les liens */
}
			  
div#menuhaut ul ul 
{
  position: absolute;
  top: 30px;
  left: 0px;
  display:none
}
			   
div#menuhaut ul ul ul 
{
  position: absolute;
  top: 0px;
  left: 100px;
  display:none
}

div#menuhaut ul.niv1 li.inline:hover ul.niv2,
div#menuhaut ul.niv2 li.inline:hover ul.niv3 
{
display:block;
}
		   
div#menuhaut .inline
{
display : inline ;
border-right : double 1px white ; 
border-left : none ;
padding : 7px ;
margin : -7px 0px 0px 0px ;
color : white ;
text-align : center ;
width : 13%;
position : relative;
top : 15px;
left : -75px;
list-style-type: none;
}

div#menuhaut .inlineend
{
display : inline ;
border-left : none ;
padding : 7px ;
margin : -7px 0px 0px 0px ;
color : white ;
text-align : center ;
width : 0%;
position : relative;
top : 15px;
left : -50px;
list-style-type: none;
}

div#menuhaut .imginline
{
display : inline ;
border-left : none ;
padding : 7px ;
margin : -7px 7px 0px 0px ;
color : white ;
text-align : left ;
width : 50px;
position : relative;
top : 1px;
left : -45px;
}

div#menuhaut ul.niv2 li.inline
{
position : relative;
left : -42px;
top : 20px;
border : 1px solid #017AC0 ;
color : #000000;
margin-bottom : 6px ;
background-color : #7BDDFF;
width : 120px;
}

#menuhaut ul.niv2 li.inline:hover
{
color : black ;
font-weight : bold ;
}

#menuhaut ul.niv2 li.inline:hover ul.niv3 li
{
color : black ;
font-weight : normal ;
}

div#menuhaut ul.niv3 li.inline
{
position : relative;
left : -5px;
top : 6px;
border : 1px solid #7811D2 ;
color : #000000;
margin-bottom : 6px ;
}

#menuhaut ul.niv3 li.inline:hover
{
color : black ;
font-weight : bold ;
text-decoration : underline ;
}

div#menuhaut ul.niv2 li:hover 
{
background-color: #CCCCCC;
}

/*----------------------------------------CORPS------------------------------------------------*/

#cadrebody
{
  width : 1000px;
}

/*-------------------------------------------------*/
#cadremenu
{
  width : 185px;
  margin-top : 20px ;
  float : left;
  margin-left : 5px;
}

#menu
{
  color : white ;
  z-index : 1;
  text-transform: capitalize;
  text-decoration: none;
  color : #442A8D;
}

#menutitle
{
  margin : 0px ;
  padding-top : 5px;
  font-size : 22px;
  font-variant: small-caps ;
  padding-bottom : 0px ;
  color : #FF6633 ;
  list-style: none;
  height : 35px;
  width : 185px;
  background : url(../images/entetemenu.gif) no-repeat left top;
  text-align : center;
}

#menuitem
{
  margin-top : 0px ;
  font-size : 18px ;
  font-variant: small-caps ;
  padding-bottom : 0px ;
  color : #0B00AB ;
  margin-bottom : 3px ;
  height : 27px;
  width : 183px;
  border : 1px solid #009999 ;
  text-align:center;
}

#menusubitem
{
  margin-top : 5px ;
  font-size : 16px ;
  text-indent : 50px ;
  font-variant: small-caps ;
  padding-bottom : 0px ;
  color : #0B00AB ;
  margin-bottom : 0px ;
  width : 183px;
  background-image: url(../images/fleche.gif);
}

#menusubitemselect
{
  margin-top : 5px ;
  font-size : 16px ;
  text-indent : 50px ;
  font-variant: small-caps ;
  padding-bottom : 0px ;
  color : #AB001B;
  margin-bottom : 0px ;
  width : 183px;
  background-image: url(../images/fleche2.gif);
}

#menuitem :hover 
{
  background-color: #CCCCCC;
}

#menusubitem :hover 
{
  background-color: #CCCCCC;
}

#menusubitemselect :hover 
{
  background-color: #CCCCCC;
}


/*-------------------------------------------------*/
#cadrecorps
{
	width : 805px;
  margin-top : 20px ;
  float:left;
}

#topbody
{
width: 810px ;
height:30px;
margin-left: 3px;
background: url(../images/topbody.jpg) no-repeat left top;
margin-bottom : 0px ;
margin-top : 0px ;
z-index : 0;
}

#corps
{
width: 808px ;
margin-left: 3px;
font-size : 16px ;
background-color: #DDDDDD ;
color : #000000 ;
border: 1px solid white ;
border-top : 1px solid #DDDDDD;
border-bottom : 1px solid #DDDDDD;
text-indent : 0px;
text-align : justify;
z-index : 0;
}

#footbody
{
width: 810px ;
height:30px;
margin-left: 3px;
background: url(../images/footbody.jpg) no-repeat right bottom;
z-index : 0;
}

div#corps H1
{
text-align : center;
text-indent : 0px;
color : #3D73B0;
font-size : 30px;
font-weight : bold ;
text-decoration : none ;
margin-bottom : 30px;
}
div#corps H1.premier
{
text-align : center;
text-indent : -75px;
color : #3D73B0;
font-size : 30px;
font-weight : bold ;
text-decoration : none ;
margin-bottom : 30px;
}

div#corps H2
{
color : #E87021;
text-indent : 30px;
font-size : 20px;
font-weight : bold ;
text-decoration : underline ;
margin-bottom : 30px;
}

div#corps H3
{
color : black;
font-weight : bold;
font-size : 18px;
margin-bottom : -10px;
text-indent : 10px;
}

div#corps ul.lienhypert
{
list-style: none;
text-indent : -30px;
}

div#corps ul.lienhypert li
{
margin-bottom : 10px;
text-transform: capitalize;
text-align : center;
margin-top:auto;
font-size:18.0pt;
font-style : normal;
font-weight : bold;
}

div#corps p.elevegagnant
{
text-indent : 35pt;
font-size : 10pt;
}

div#corps ul.nivun
{
text-indent : 5pt;
font-size : 12pt;
list-style: none;
}

div#corps ul.nivun li
{
margin-bottom : 10px;
}

div#corps ul.nivdeux
{
text-indent : 35pt;
font-size : 10pt;
list-style: none;
margin-top : 10px;
}

div#corps ul.recompense
{
text-indent : 200px;
font-size : 10pt;
list-style: none;
margin-top : -30px;
margin-bottom : 40px;
}

div#corps ul.recompequ
{
text-indent : 100px;
font-size : 10pt;
list-style: none;
margin-top : 0px;
margin-bottom : 40px;
}

div#corps ul.place
{
text-indent : 200px;
font-size : 10pt;
list-style: none;
margin-top : -20px;
margin-bottom : 20px;
}

div#corps table.tableau
{
margin-top : -20px;
text-align : center;
}

div#corps .retour
{
text-align : center;
}

div#corps p.texteleve
{
text-align : justify;
font-size: 14px;
/*font-family: "Arial Black", Arial, Verdana, serif;*/
color : black;
text-indent: 20px;
font-style: italic;
width : 90%;
margin-left : 40px;
}

div#corps p.signature
{
text-align : right;
font-size: 12px;
/*font-family: "Arial Black", Arial, Verdana, serif;*/
color : black;
font-style: italic;
width : 90%;
}


/*----------------------------------------BOTTOM------------------------------------------------*/
#bottom
{
width : 795px ;
height : 15px; 
border : 1px white solid ;
color : white ;
font-size : 10px ;
margin-top : 10px;
margin-left: 195px;
padding :5px ;
font-variant : small-caps ;
float: left;
}

/*-------------------------------------------------*/
#tdroite
{
color : #FF0000 ;
text-align : right ;
position : relative;
top : -35px;
left : 460px;
width : 40%;
}

#tgauche
{
color : #FF0000 ;
text-align : left ;
position : relative;
top : 0px;
left : 10px;
width : 40%;
}

#tmilieu
{
color : #FF0000 ;
text-align : left ;
position : relative;
top : -15px;
left : 390px;
width : 20%;
}

#tdroite:hover
{
text-decoration : underline ;
}

#tgauche:hover
{
text-decoration : underline ;
}